@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    //Walk up the tree
    var topNavItem = Model.Content.Level > 2 ? Model.Content.Parent : Model.Content;

    //Check currentpage is same as topNaviItem Id
    var isSelected = topNavItem.Id == Model.Content.Id ? "active" : string.Empty;
    
    //Get Child  Pages of Current Page
    var pages = topNavItem.Children.Where(x => x.IsVisible());
}

<ul class="nav nav-pills nav-stacked">
    <li class="@isSelected">
        <a href="@topNavItem.Url">
            @topNavItem.Name
        </a>
    </li>
    @foreach (var page in pages)
    {
        var isPageSelected = page.IsAncestorOrSelf(Model.Content) ? "active" : string.Empty;
        
        <li class="@isPageSelected">
            <a href="@page.Url">
                @page.Name
            </a>
        </li>
    }
</ul>