@using CWSStart.Web.CWSExtensions
@using CWSStart.Web.Controllers
@using CWSStart.Web.Models
@model ContactFormViewModel
 
@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}
 
@if (Convert.ToBoolean(TempData["IsSuccessful"]))
{
    <div class="alert alert-success">
        <h4>@DictionaryHelper.GetDictItem("Success","Yay!")</h4>
        <p>@DictionaryHelper.GetDictItem("ContactFormConfirmation","Thanks for sending your message, we will get back to you shortly.")</p>
    </div>
}
else
{
    using (Html.BeginUmbracoForm<ContactFormSurfaceController>("HandleContactForm"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)
 
        <div class="form-group">
            @Html.LabelFor(model => model.Name, DictionaryHelper.GetDictItem("LabelName","Name"), new { @class = "control-label"})
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = DictionaryHelper.GetDictItem("PlaceHolderYourName","Your Name") })
            @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class= "help-block" })
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.Email, DictionaryHelper.GetDictItem("LabelEmail","Email") ,new { @class = "control-label"})
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = DictionaryHelper.GetDictItem("PlaceHolderEmailAddress","Email Address") })
            @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class= "help-block" })
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.Message, DictionaryHelper.GetDictItem("LabelMessage","Message"),new { @class = "control-label"})
            @Html.TextAreaFor(model => model.Message, new { @class = "form-control", placeholder = DictionaryHelper.GetDictItem("PlaceHolderYourMessage","Your Message") })
            @Html.ValidationMessageFor(model => model.Message, string.Empty, new { @class= "help-block" })
        </div>
 
        <button type="submit" class="btn btn-default">Send</button>
    }
}