@using System.Web.Mvc.Html
@using CWSStart.Web.Controllers
@using CWSStart.Web.Models
@using Umbraco.Web
@model ProfileViewModel

@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@if (Convert.ToBoolean(TempData["IsSuccessful"]))
{
    <div class="alert alert-success">
        <h4>Yay!</h4>
        <p>We have succesfully updated your profile.</p>
    </div>
}

@using (Html.BeginUmbracoForm<ProfileSurfaceController>("HandleEditProfile"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new {@class = "form-control", placeholder = "Your Name"})
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress)
            @Html.TextBoxFor(model => model.EmailAddress, new {@class = "form-control", placeholder = "Email Address"})
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description, new {@class = "form-control", placeholder = "Description"})
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ProfileURL) (http://site.co.uk/profile/joebloggs)
            @Html.TextBoxFor(model => model.ProfileURL, new {@class = "form-control", placeholder = "joebloggs"})
            @Html.ValidationMessageFor(model => model.ProfileURL)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Twitter)
            @Html.TextBoxFor(model => model.Twitter, new {@class = "form-control", placeholder = "@Umbraco"})
            @Html.ValidationMessageFor(model => model.Twitter)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.LinkedIn)
            @Html.TextBoxFor(model => model.LinkedIn, new {@class = "form-control", placeholder = "LinkedIn URL"})
            @Html.ValidationMessageFor(model => model.LinkedIn)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Skype)
            @Html.TextBoxFor(model => model.Skype, new {@class = "form-control", placeholder = "Skype Username"})
            @Html.ValidationMessageFor(model => model.Skype)
        </div>
        
        @Html.HiddenFor(model => model.MemberID)

        <button type="submit" class="btn btn-default">Update Profile</button>
    </fieldset>
}
