@using System.Web.Mvc.Html
@using Umbraco.Web
@using CWSStart.Web.Controllers
@using CWSStart.Web.Models
@using CWSStart.Web.CWSExtensions;

@model ForgottenPasswordViewModel

@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@if (Convert.ToBoolean(TempData["IsSuccessful"]))
{
    <div class="alert alert-success">
        <h4>@DictionaryHelper.GetDictItem("Success","Yay!")</h4>
        <p>@DictionaryHelper.GetDictItem("ResetPasswordEmailIsSent","We have sent you a link to your email address to reset your password.")</p>
    </div>
}
else
{
    using (Html.BeginUmbracoForm<AuthSurfaceController>("HandleForgottenPassword"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="form-group">
                @Html.LabelFor(model => model.EmailAddress, DictionaryHelper.GetDictItem("LabelEmailAddress","Email address"), new { @class = "control-label"})
                @Html.TextBoxFor(model => model.EmailAddress, new {@class = "form-control", placeholder = DictionaryHelper.GetDictItem("PlaceHolderEmailAddress","Email Address")})
                @Html.ValidationMessageFor(model => model.EmailAddress, string.Empty, new { @class= "help-block" })
            </div>
            
            <button type="submit" class="btn btn-default">@DictionaryHelper.GetDictItem("ButtonRemindMe","Remind me")</button>

        </fieldset>
    }
}