@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Umbraco.Web
@using CWSStart.Web.Controllers
@using CWSStart.Web.Models
@model LoginViewModel

@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <h4>Forgotten your password?</h4>
        <p>
            Don't worry we all forget our passwords from time to time and <a href="/forgotten-password">may need a reminder</a>.
        </p>
    
        @foreach (ModelState modelState in ViewData.ModelState.Values)
        {
            var errors = modelState.Errors;

            if (errors.Any())
            { 
                <ul>
                    @foreach(ModelError error in errors)
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            }
        }
    </div>
}


@using(Html.BeginUmbracoForm<AuthSurfaceController>("HandleLogin"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress)
            @Html.TextBoxFor(model => model.EmailAddress, new{ @class = "form-control", placeholder = "Email Address" })
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new{ @class = "form-control", placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        
        @Html.HiddenFor(Model => Model.ReturnUrl)
        
        <button type="submit" class="btn btn-default">Login</button>

    </fieldset>
}