@using CWSStart.Web.CWSExtensions
@using CWSStart.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ViewProfileViewModel>

@{
    Layout = "~/views/CWS-Master.cshtml";
}


<h2>@Model.Name</h2>

<div class="row">
    <div class="col-9">
        <h3>Email: @Model.EmailAddress</h3>
        <h3>Description: @Model.Description</h3>

        <h3>LinkedIn: @Model.LinkedIn</h3>
        <h3>Skype: @Model.Skype</h3>
        <h3>Twitter: @Model.Twitter</h3>

        <h3>Member ID: @Model.MemberID</h3>
        <h3>No Of Logins: @Model.NumberOfLogins</h3>
        <h3>No of profile views: @Model.NumberOfProfileViews</h3>
        <h3>Last Login Date: @Model.LastLoginDate</h3>
    </div>
    <div class="col-3">
        <img src="@(Model.EmailAddress.GetGravatarUrl(250, string.Empty))" alt="@Model.Name" class="img-circle"/>
    </div>
</div>


